iframe {
  display: none;
}

.delayButton {
  padding-left: 50px;
}

.dropdown-content {
  height: 300px;
  width: 300px;
  overflow-y: scroll;
  border: 1px solid black;
}

.delete {
  right: 25px;
  top: 10px;
}

.input {
  width: 250px;
}
